.root {
	margin: 20px;
	position: relative;

	display: inline-flex;
	align-items: center;
	gap: 22px;

	.calendar {
		display: flex;
		align-items: center;
		gap: 8px;

		cursor: pointer;
	}
}

.arrow {
	cursor: pointer;
}
.arrowLeft {
	transform: rotate(180deg);
}

.dropdown {
	display: flex;
	flex-direction: column;
	width: 204px;

	background-color: #ffffff;
	border: 1px solid #eaf0fa;
	border-radius: 4px;
	box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);

	position: absolute;
	right: 0;
	top: calc(18px + 11px);

	.dropdownItem {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		height: 40px;

		padding: 0 20px;

		color: rgba(137, 156, 177, 1);

		cursor: pointer;

		&:hover {
			background-color: rgba(0, 44, 251, 0.13);
			color: rgba(18, 41, 69, 1);
		}

		.dropdownItemActive {
			background-color: red;
		}
	}
}
