.root {
	// background-color: #e6cca5;
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 2;

	padding: 20px 0;

	background-color: #091336;
}

.logo {
	margin-left: 12px;
}

.items {
	margin-top: 32px;

	li {
		display: flex;
		gap: 12px;
		align-items: center;

		color: rgba(255, 255, 255, 0.6);
		fill-opacity: 0.6;

		padding: 14px 22px 14px 12px;
		position: relative;
		cursor: pointer;
	}
	.active {
		background-color: rgba(216, 228, 251, 0.32);
		color: rgba(255, 255, 255, 1);
		fill-opacity: 1;
	}

	.activeColumn {
		position: absolute;
		left: 0;
		top: 0;

		width: 3px;
		height: 52px;
		background-color: rgba(0, 44, 251, 1);
	}
	.activePointer {
		position: absolute;
		right: 12px;
		top: 22px;

		width: 8px;
		height: 8px;
		border-radius: 50%;

		background-color: rgba(255, 213, 0, 1);
		box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
	}
}

.sidebarButtonGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;

	margin-top: 64px;
}
